@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #007CBA;
}

.main {
    background-color: #007CBA;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 570px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.title {
    font-size: 20px;
    text-align: center;
}

.title2 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.plan {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}


.day {
    text-align: center;
    position: relative;
    left: -20px;
    margin-bottom: 15px;
}

.celendertext {
    position: relative;
    color: black;
    z-index: 2;
    font-size: 14px;

}


.celenderpos {
    position: relative;
    left: 45px;
    top: 2px;
    z-index: 1;
}

.spend {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.in {
    font-family: 'Press Start 2P', cursive;
    text-align: right;
    font-size: 16px;
    width: 120px;
    border: 3px solid #FFFFFF;
    background-color: #007CBA;
    color: #ffffff;
    height: 26px;
}

.in2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 16px;
    width: 196px;
    border: 3px solid #FFFFFF;
    background-color: #007CBA;
    color: #ffffff;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
}


#buttonDiv {
    display: block;
    width: 220px;
    height: 220px;
    position: static;
    margin-left: auto;
    margin-right: auto;
    
}

#bigButton {
    position: absolute;
    visibility: visible;
    z-index: 2;
}

#bigButton_on {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
}

.today {
 visibility: hidden;
}

::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 1;
  }