
body {
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    width: 350px;
    background-color: #007CBA;
    margin: 0 auto;
    border: 5px solid #FFFFFF;
}


#date {
    font-size: 18px;
    line-height: 10px;
    text-align: right;
    color: #ffffff;
}

.cash {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom:20px;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;    
    line-height: 36px; 
    color: #ffffff;
}

button {
    font-family: 'Press Start 2P', cursive;
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 15px;
    background: #ffffff;
    border: none;
    font-weight: 100;
    font-size: 30px;   
    
}

input {
    font-family: 'Press Start 2P', cursive;
    width: 280px;
    height: 56px;
    margin-left: 30px;
    background: #007CBA;
    font-size: 28px;  
    border: 5px solid #FFFFFF;
    color: #ffffff;

    }

#res {
    font-style: normal;
    margin-top: 10px;
    font-weight: 700;
    font-size: 58px;
    text-align: center;
    color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');